{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}



    <section class="u-clearfix u-section-1" id="sec-f708">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-align-center u-text u-text-1">Create Your Account!</h3>
        <div class="u-border-2 u-border-grey-25 u-line u-line-horizontal u-line-1"></div>
        <div class="u-form u-form-1">
            
          <form method="POST" class="u-clearfix u-form-spacing-10 ">
            {% csrf_token %}
            
            <div class="u-form-group u-form-group-1">
                {{form}}  
                
                <!-- <label for="text-fb59" class="u-label">Email*</label>
                <input type="text" placeholder="Enter your email" id="text-fb59" name="text-2" class="u-border-2 u-border-grey-30 u-custom-font u-input u-input-rectangle u-radius-5 u-white u-input-1">
              </div>
              <div class="u-form-group u-form-group-2">
                <label for="text-fb83" class="u-label">Username*</label>
                <input type="text" placeholder="Letters, digits and @/./+/-/_ only." id="text-fb83" name="text" class="u-border-2 u-border-grey-30 u-custom-font u-input u-input-rectangle u-radius-5 u-white u-input-2" required="required" maxlength="300">
              </div>
              <div class="u-form-group u-form-group-3">
                <label for="text-9218" class="u-label">Password*</label>
                <input type="text" placeholder="Enter your password" id="text-9218" name="text-1" class="u-border-2 u-border-grey-30 u-custom-font u-input u-input-rectangle u-radius-5 u-white u-input-3">
              </div>
              <div class="u-form-group u-form-group-4">
                <label for="text-e0ee" class="u-label">Verify password*</label>
                <input type="text" placeholder="Verify your password" id="text-e0ee" name="text-3" class="u-border-2 u-border-grey-30 u-custom-font u-input u-input-rectangle u-radius-5 u-white u-input-4"> -->
              </div>
              
              
              
              <div class="u-align-center u-form-group u-form-submit">
                <button type="submit" value="submit" class="u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-radius-38 u-btn-1 btn btn-success">Register</button>
                <!-- <a class="u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-radius-38 u-btn-1">Register</a> -->
              </div>
              <!-- <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
              <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div> -->
            
           
          </form>
        </div>
        <!-- <p class="u-text u-text-default u-text-2"> Have an account?&nbsp;<a href="/register" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-2">Log In</a>
        </p> -->
      </div>
    </section>
    
    {% endblock %}