.u-section-1 .u-sheet-1 {
  min-height: 780px;
}

.u-section-1 .u-text-1 {
  font-family: Poppins;
  font-size: 2.8125rem;
  margin: 172px auto 0;
}

.u-section-1 .u-form-1 {
  height: 126px;
  width: 912px;
  margin: 78px auto 60px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  font-family: Poppins;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-group-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 529px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 409px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  font-family: Poppins;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-family: Poppins;
  margin: 20px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 409px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 337px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 337px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 258px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 581px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-2 .u-image-1 {
    min-height: 366px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 536px;
}

.u-section-3 .u-text-1 {
  font-family: Poppins;
  font-size: 2.5rem;
  margin: 107px auto 0;
}

.u-section-3 .u-form-1 {
  height: 126px;
  width: 912px;
  margin: 79px auto 60px;
}

.u-section-3 .u-form-group-1 {
  margin-left: 0;
}

.u-section-3 .u-input-1 {
  font-family: Poppins;
}

.u-section-3 .u-btn-1 {
  width: 100%;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-form-group-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.125rem;
  }

  .u-section-3 .u-form-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 839px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  text-transform: none;
  font-family: Poppins;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  width: 864px;
  font-size: 1.375rem;
  font-family: Poppins;
  margin: 20px auto 0;
}

.u-section-4 .u-accordion-1 {
  margin-bottom: 60px;
  margin-top: 126px;
}

.u-section-4 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  font-family: Poppins;
  padding: 25px 30px;
}

.u-section-4 .u-icon-2 {
  height: 17px;
  width: 17px;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-4 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  font-family: Poppins;
  padding: 25px 30px;
}

.u-section-4 .u-icon-3 {
  height: 17px;
  width: 17px;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-4 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  font-family: Poppins;
  padding: 25px 30px;
}

.u-section-4 .u-icon-4 {
  height: 17px;
  width: 17px;
}

.u-section-4 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 843px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 44px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-accordion-1 {
    margin-top: 103px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 634px;
}

.u-section-5 .u-text-1 {
  width: 734px;
  font-size: 2.5rem;
  font-family: Poppins;
  margin: 64px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 100px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 302px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
  padding: 14px;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 19px 0 0;
}

.u-section-5 .u-text-3 {
  font-family: Poppins;
  width: 211px;
  font-size: 1rem;
  margin: 21px auto 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 302px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-5 .u-icon-2 {
  height: 130px;
  width: 130px;
  margin: 0 auto;
  padding: 25px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 302px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-5 .u-icon-3 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
  padding: 10px;
}

.u-section-5 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-5 .u-text-5 {
  font-family: Poppins;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 302px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 10px;
}

.u-section-5 .u-icon-4 {
  height: 130px;
  width: 130px;
  margin: 0 auto;
  padding: 25px;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 302px;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px 10px;
}

.u-section-5 .u-icon-5 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
  padding: 10px;
}

.u-section-5 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-5 .u-text-7 {
  font-family: Poppins;
  font-size: 1rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 260px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 26px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-3 {
    width: 186px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 260px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-5 .u-icon-2 {
    height: 110px;
    width: 110px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 260px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 260px;
  }

  .u-section-5 .u-icon-4 {
    height: 110px;
    width: 109px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 260px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 64px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 257px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 257px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 41px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 257px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 257px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-5 .u-icon-4 {
    height: 111px;
    width: 110px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 257px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-bottom: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1191px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 360px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-5 .u-icon-1 {
    height: 146px;
    width: 145px;
    margin-top: 20px;
    padding: 30px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.75rem;
    margin-top: 25px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
    width: 377px;
    margin-top: 20px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 64px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 316px;
  }

  .u-section-5 .u-icon-3 {
    height: 145px;
    width: 145px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.75rem;
    margin-top: 31px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.5rem;
    margin-top: 9px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 47px;
  }

  .u-section-5 .u-icon-4 {
    padding: 12px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-5 .u-icon-5 {
    height: 145px;
    width: 145px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.75rem;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1395px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-icon-1 {
    height: 145px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
    width: 340px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 71px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 30px;
  }
}

.u-section-5 .u-icon-1,
.u-section-5 .u-icon-1:before,
.u-section-5 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-container-layout:hover .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-icon-3,
.u-section-5 .u-icon-3:before,
.u-section-5 .u-icon-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-icon-3.u-icon-3.u-icon-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-icon-3.u-icon-3.u-icon-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-container-layout:hover .u-icon-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-icon-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-icon-5,
.u-section-5 .u-icon-5:before,
.u-section-5 .u-icon-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-icon-5.u-icon-5.u-icon-5:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-icon-5.u-icon-5.u-icon-5.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-container-layout:hover .u-icon-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-icon-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}