.u-section-1 .u-sheet-1 {
  min-height: 735px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 120px auto 0 373px;
}

.u-section-1 .u-line-1 {
  width: 416px;
  transform-origin: left center 0px;
  margin: 15px auto 0;
}


.u-section-1 .u-form-1 {
  height: 245px;
  width: 435px;
  margin: 80px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  font-family: Poppins;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  font-family: Poppins;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-text-2 {
  margin: 64px auto 60px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 308px;
  }

  .u-section-1 .u-form-group-1 {
    margin-right: 0;
  }

  .u-section-1 .u-form-group-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 236px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 177px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 111px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}